name = "ExprTools"
uuid = "e2ba6199-217a-4e67-a87a-7c52f15ade04"
authors = ["Invenia Technical Computing"]
version = "0.1.8"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
